@charset "utf-8";

.header {
  padding: 10px;
  text-align: center;
  background: #333;
  color: white;
  font-size: 15px;
}

html, body{
	margin : auto;
	text-align: center;
	background: #333;
	color: white;
  height: 100%;
} 

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: purple;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #333;
  }
  
  ul.topnav li a.active {
    background-color: #333;
  }
  
  ul.topnav li.right {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
	  ul.topnav li.right, 
	  ul.topnav li {float: none;}
  }

  #chat{
    height: 100%;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 14px 16px;
    background:#333;
    border-left: 20px solid purple;
    border-right: 20px solid purple;
    overflow:hidden;
    float: none;
}

#chatbox {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  padding: 14px 16px;
  background: #333;
  min-height: 90%;
  min-width: 10%;
  overflow: hidden;
}

#usermsg {
  color: white;
	width: 500px;
  height: 30px;
 	border:1px solid purple;
	background : #696969;
}
 
#submitmsg{
  height: 30px;
	background: #696969;
	color: white;
	border: 1px solid purple;
}

#submit { 
	width: 60px;
}