@charset "utf-8";

img {
  float: left;
  width: 4%;
  height: 4%;
}

.header {
  padding: 30px;
  text-align: center;
  border-top: 150px;
  background: #333;
  color: white;
  font-size: 15px;
}

html, body{
	margin : auto;
	text-align: center;
	background: #333;
	color: white;
  height: 100%;
  font-size: larger;
} 

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: purple;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
    font-family: "Trebuchet", MS, sans-serif;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #333;
  }
  
  ul.topnav li a.active {
    background-color: #333;
  }
  
  ul.topnav li.right {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
	  ul.topnav li.right, 
	  ul.topnav li {float: none;}
  }

p{
  position: relative;
}

footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: purple;
   color: white;
   text-align: center;
   font-size: smaller;
}

@media (min-width:1920px) {
  .diaporama-header,
  #full-carousel,
  .carousel-inner {
    height: 40vw;
  }
}